@charset "UTF-8";

@import url(../../../styles/base.css);

body{
    font-family: "Montserrat", sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    background: var(--bg-dark);
    padding: .5rem;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header > div{
    display: flex;
    justify-content: space-around;
}

header > div > button{
    all: unset;
    padding: .5rem;  
    cursor: pointer; 
}

.sign-up-button{
    order: 0;
    background: var(--bg-light);
    border-radius: 10px;
    margin-right: 5px;

    &:hover{
        background-color:var(--primary-color) ;
    }
}


.sign-in-button{
    order: 1;
    border-radius: 10px;
    &:hover{
        background-color: var(--primary-color);
    }
}

nav{
    padding-block: 0.5rem;
    ul{
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  
    a{
      color: inherit;
      text-decoration: none;
    }
}

main{
    border-radius: 15px;

    p{
        font-size: .9rem;
        line-height: 1.5rem;
        max-width: 400px;
    }
}

button{
    all: unset;
}

.button{
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color .2s ease-in-out ;
}

.button:hover{
    background: var(--secondary-color);
}

.button:focus{
    background: var(--secondary-color);
}

section.hero{
    background: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;

}

section.hero > div{
    padding: 1.5rem;
    align-self: center;

    h1{
        margin-bottom: 0.5rem;
        color: #fff;
    }
}

section.conteiner{
    display: flex;
    flex-direction: column;
    padding: .5rem 1.5rem;

    form{
        margin-bottom: 2rem;
    }

    h2{
        margin-block: 2rem;
    }
}

form  > div {
    input{
        all: unset;
        padding: .6rem;
        border-bottom: 1px solid #000;
    }

    input:focus{
        border: 1px solid #000;
    }

    input#item-amount{
        width: 5rem;
    }

}

.table-div{
    align-self: center;
}

table{
    width: 800px;
    border-collapse: separate;
    caption{
        font-size: 1.5rem;
        background: var(--bg-dark);
        color: #fff;
    }
    

    thead, tfoot{
        background: var(--primary-color);
        color: #fff;
    }
    
    tbody > tr:nth-child(even){
        background-color: var(--bg-light);
    }
    
}

.savebutton{
    width: 100px;
    padding: .6rem;
    text-align: center;
    margin-top: 1.5rem;
}




