@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #072ac8;
    --secondary-color: #FFC30F;

    --bg-light-carousell: #627DF9;
    --bg-dark-carousell: #041976;
}